@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'Be Vietnam Pro', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --bgOrange: #e84949;
    --faded: rgb(231, 231, 231);
}

#wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.logo-container {
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 0px;
}

.logo {
    width: 80px;
}

.logo-text {
    margin-bottom: -1rem;
    margin-left: -1.7rem;
    font-size: 28px;
}

.nav-items {
    display: flex;
    gap: 2rem;
    padding: 0 4rem;

}

.nav-items div {
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.1s;
}

a {
    text-decoration: none;

}

.nav-items div a {
    color: black;
}

.nav-items div:hover {
    font-weight: bold;
}

.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 4rem auto;
    padding: 0 1rem;
    padding-bottom: 8rem;
}

.faded-text {
    user-select: none;
    font-size: 7em;
    color: rgb(231, 231, 231);
    bottom: -16%;
    left: -5%;
    font-weight: bold;
    transition: all 3s;
    /* position:absolute; */
}

.hero-section-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.hero-section-heading {
    font-size: 35px;
    color: #343868;
    font-weight: 500;
}

.role {
    color: #4e45d5;
    font-weight: 800;
}

.hero-section-sub-heading {
    font-size: 45px;
    line-height: 45px;
}

.hero-section-description {
    margin-top: 1rem;
    width: 70%;
    font-weight: 500;
}

.btn-pink {
    height: 50px;
    background-color: var(--bgOrange);
    border: 2px solid var(--bgOrange);
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    box-shadow: 5px 5px 0.5rem rgba(45, 45, 45, 0.5);
}

.btn-pink::before {
    content: "";
    height: 100%;
    background-color: white;
    position: absolute;
    left: 0%;
    width: 0%;
    transition: 0.5s;
}

.btn-pink:hover::before {
    /* color:black; */
    width: 100%;
}

.btn-pink:hover p {
    color: black;
}

.btn-pink p {
    color: white;
    z-index: 1;
}

.hero-section-right {
    position: relative;

}

.absolute {
    position: absolute;
}

.user-image {
    padding: 2.5rem;
    filter: grayscale(1);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;

}

.user-image img {
    z-index: -1;
}

@keyframes scaleImage {
    0% {
        filter: grayscale(0);
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        filter: grayscale(1);
        box-shadow: 3px 3px 10px black;
    }

    100% {
        transform: scale(1);
        filter: grayscale(0);
    }
}

.icon-dots {
    z-index: 9;
    bottom: -1rem;
    right: 0;
    animation: dotsAnimation 5s linear infinite;
}

@keyframes dotsAnimation {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

.icon-cube {
    z-index: 1;
    right: 0px;
    top: -0.8em;
    animation: cubeRotate 3s infinite;
}

@keyframes cubeRotate {
    0% {
        transform: rotateY(0deg) translateY(0px);
    }

    50% {
        transform: rotateY(180deg) translateY(-12px);

    }

    100% {
        transform: rotateY(360deg) translateY(0px);
    }
}

.icon-circle {
    z-index: 1;
    left: 0;
    bottom: 0;
    animation: ShakeEffect 6s linear infinite;
}

@keyframes ShakeEffect {
    50% {
        left: 5%;
        bottom: 10%;
    }

}

.icon-zigzag {
    z-index: 1;
    top: 1.5em;
    left: -0.3em;
    animation: zigzag 5s ease-in infinite;
}

@keyframes zigzag {
    50% {
        left: 5%;
        top: 2%;
    }
}

.icon-plus {
    z-index: 1;
    top: -0.8rem;
    left: 50%;
    animation: shakeEffectPlus 5s ease-in infinite;
}

@keyframes shakeEffectPlus {
    50% {
        top: 3%;
        left: 48%;
    }
}

.project-section {
    background-color: rgb(231, 231, 231);
    margin-top: 4rem;

}

.page-header {
    color: var(--bgOrange);
    font-size: 90px;
    text-align: center;
    padding: 36px;
}

.project-container {
    width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.project-card {
    width: 90%;
    height: 550px;
    /* background-image: url(./images/projects/Project1.png); */
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: relative;
    box-shadow: 0px 0px 40px #1f1f1f;
}

.project-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1f1f1f9a;
    /* transform:scale(1); */
    z-index: 0;
}

.project-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index: 1;
}

.project-card:hover::before {
    transform: scaleX(1);
}

.project-number {
    color: white;
    position: absolute;
    font-size: 200px;
    font-weight: 600;
    z-index: 2;
    display: none;
}

.project-card:hover .project-number {
    display: block;
}

.project-number-right {
    right: -40px;
    top: -45px;
}

.project-number-left {
    left: -45px;
    top: -45px;
}

.project-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 2em;
    bottom: 20%;
    z-index: 5;
    gap: 1em;
    transition: all 0.4s;
}

.project-content-left {
    left: 10%;
}

.project-content-right {
    right: 10%;
}

.project-skills-container {
    width: 60%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

}

.project-skill {
    width: 40px;
}

.project-heading {
    font-size: 50px;
    font-weight: bold;
    line-height: 3rem;
}

.project-sub-heading {
    width: 70%;
    font-size: 16px;
    font-style: italic;
}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    gap: 0.9rem;
    align-items: center;
}

.btn-project {
    border: none;
}

.icon {
    cursor: pointer;
    color: white;
    font-size: 35px;
    transition: 0.4s;
}

.icon:hover {
    color: var(--bgOrange);
}

.project-card:hover .project-content {
    transform: scale(1.1);
}

#project1 {

    background-image: url(./images/projects/Project1.png);
}

#project2 {
    margin-left: 120px;
    background-image: url(./images/projects/Project2.png);
}

#project3 {

    background-image: url(./images/projects/Project3.png);
}

#project4 {
    margin-left: 120px;
    background-image: url(./images/projects/Project4.png);
}

.skills-container {
    position: relative;
    display: flex;
    padding: 5rem;
    margin: 10rem auto;
    gap: 30px;
}

.skill-container-left {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.skill-container-right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 2rem;
    justify-content: center;
}

.skill-faded-text {
    position: absolute;
    user-select: none;
    font-size: 7em;
    color: rgb(231, 231, 231);
    bottom: -24.5%;
    right: 0%;
    font-weight: bold;
    transition: all 3s;
    /* overflow-y: hidden; */
}

.blob-style {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: blobAnimate 3s linear infinite;
    transform: translate(-50%, -50%);
    z-index: -1;

}

@keyframes blobAnimate {
    50% {
        top: 54%;
        left: 46%;
    }
}

.skills-logo {
    width: 90px;
    height:90px;
    transition: 0.5s;
}

.skills-logo:hover {
    transform: scale(1.2);
}

.skill-heading {
    color: var(--bgOrange);
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
}

.caps {
    font-size: 90px;
}

.skill-subHeading {
    margin-top: 1rem;
    width: 85%;
    text-align: justify;
}

.skill-subHeading p {
    margin: 15px 0;
}

.contactus-form-container {
    width: 100%;
    background-color: var(--faded);
}

button {
    border: none;
}

.contactus-heading {
    font-size: 5em;
    color: var(--bgOrange);
    padding-top: 2rem;
}

.contactus-sub-heading {
    font-size: 3rem;
    color: #343d688a;
    text-transform: capitalize;
}

.contactus-form {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactus-form form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 70%;
    margin: 2rem 5rem;
}

.formfield-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.formfield {
    width: 100%;
    height: 42px;
    padding: 0 2rem;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #1f1f1f;
    border: none;
    margin-top: 17px;
}

.formfield-textarea {
    height: auto;
    padding-top: 1rem;
}

#submit-btn {
    border: none;
    font-size: 1.4em;
    margin: 1rem 0;
    width: 250px;
    transition: 0.6s;
}

#submit-btn:hover {
    scale: 0.9;
}

.submit-icon {
    padding: 0 1rem;
    font-size: 1.5rem;
}

footer {
    position: relative;
    background-color: #343d68;
    margin-top: -1px;
    padding: 5rem;
}

.footer-wrapper {
    position: relative;
    display: flex;
    gap: 1rem;
    padding: 1.2rem;
    justify-content: space-between;
    align-items: center;
}

.footer-faded-text {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #535c87;
    user-select: none;
    font-size: 5em;
}

.link-wrapper {
    display: flex;
    gap: 1.2rem;

}

.link-wrapper div a {
    color: white;
    text-decoration: none;
    transition: all 0.6s;
}

.link-wrapper div a:hover {
    color: var(--bgOrange);

}

.icon-wrapper {
    display: flex;
    gap: 1.2rem;
}

@media(max-width:1400px) and (min-width:612px){
    .container {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .hero-section {
        flex-direction: column;
        align-items: center;
    }

    .faded-text {
        bottom: -10%;
        left:10%;
    }

    .page-header 
    {
        font-size:4rem;
    
    }
    .project-container {
        width: 100%;
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 80px;
        align-items: center;
    }
    #project2
    {
        margin-left:0;
    }
    #project4
    {
        margin-left:0;
    }
    .project-card
    {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .project-number
    {
        font-size:6rem;
        filter:drop-shadow(1px 1px 3rem #1f1f1f);
    }
    .skills-container {
        width:100%;
        height:auto;
        position: relative;
        display: flex;
        flex-direction:column;
        padding: 10rem;
        padding-left:5rem;
        margin: 0rem auto;
        gap: 30px;
        margin-left:0%;
        /* overflow: hidden; */
    }
    .skill-container-left
    {
        width:80%;
    }
    .skill-container-right
    {
        width:80%;
    }
    .skill-faded-text {
        position: absolute;
        user-select: none;
        font-size: 7em;
        color: rgb(231, 231, 231);
        bottom: 0%;
        right: 20%;
        font-weight: bold;
        transition: all 3s;
        /* overflow-y: hidden; */
    }
    .contactus-form-container {
        width: 100%;
        background-color: var(--faded);
        padding:0 5rem;
    }
    .contactus-heading
    {
        width:80%;
        font-size:3rem;
    }
    .contactus-sub-heading
    {
        font-size:3rem;
        width:80%;
    }
    .contactus-form form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        margin: 2rem 0rem;
        margin-right:10rem;
        align-items: flex-start;
    }
    .project-content-left, .project-content-right
    {
        left:10%;
        right:0;
    }

}

@media(max-width:611px)
{
    .container {
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .hero-section {
        flex-direction: column;
        align-items: center;
    }


    .faded-text {
        bottom: -8.2%;
        left:0%;
        text-align: center;
        width:100%;
        font-size:55px;
    }

    .page-header 
    {
        font-size:4rem;
    
    }
    .project-container {
        width: 100%;
        padding: 3rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 80px;
        align-items: center;
    }
    #project2
    {
        margin-left:0;
    }
    #project4
    {
        margin-left:0;
    }
    .project-card
    {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        flex-wrap: wrap;
    }
    .project-content-left, .project-content-right
    {
        left:10%;
        right:0;
    }
    .project-heading
    {
        font-size:30px;
    }
    .project-sub-heading
    {
        font-size:14px;
    }
    .btn-group
    {
        display:flex;
        flex-wrap: wrap;
        gap:0rem;
    }
    .btn-project
    {
        transform: scale(0.7);
    }
    .btn-group .icon
    {
        transform: scale(0.7);
    }
    .project-skill
    {
        width:25px;
    }
    .project-number
    {
        font-size:6rem;
        filter:drop-shadow(1px 1px 3rem #1f1f1f);
    }
    .project-number-right
    {
        right:0%;
    }
    .project-number-left
    {
        left:0%;
    }


    .skills-container {
        width:100%;
        height:auto;
        position: relative;
        display: flex;
        flex-direction:column;
        padding: 10rem;
        padding-left:3rem;
        margin: 0rem auto;
        gap: 30px;
        margin-left:0%;
        align-items:flex-start;
        /* overflow: hidden; */
    }
    .skill-container-left
    {
        width:90%;

    }
    .skill-container-left p
    {
        text-align: center;
    }

    .skill-container-right
    {
        width:80%;
    }
    .skills-logo
    {
        height:70px;
        width:70px;
    }
    .skill-faded-text {
        position: absolute;
        user-select: none;
        font-size: 5em;
        color: rgb(231, 231, 231);
        width:100%;
        text-align: center;
        padding:0rem auto;
        bottom: -1.5%;
        right: 10%;
        font-weight: bold;
        transition: all 3s;
        /* overflow-y: hidden; */
    }
    .contactus-form-container {
        width: 100%;
        background-color: var(--faded);
        margin:auto;
        padding:2rem 0rem;
    }
    .contactus-heading
    {
        width:70%;
        font-size:2.5rem;
        text-align: center;
        padding:0rem 3rem;
    }
    .contactus-sub-heading
    {
        font-size:1.5rem;
        width:70%;
        padding:0 3rem;
        text-align: center;

    }
    .contactus-form
    {
        width:100%;
        margin:0 auto;
    }
    .contactus-form form {
        /* display: flex; */
        /* flex-direction: column; */
        gap: 30px;
        width: 60%;
        /* margin:2rem 3rem; */
        /* margin-bottom: 10px; */
        margin-left:5%;
        /* margin-right:10%; */
        justify-content: flex-start;
        align-items: flex-start;
    }
    .contactus-form form input
    {
        font-size:1rem;
    }
    .contactus-form form textarea
    {
        font-size:1rem;
    }
    .btn-contact
    {
        transform:scale(0.7);
        padding:1rem;
    }
    .footer-wrapper{
        flex-direction: column;
    }
    .user-image{
        transform:scale(0.7);
        padding:0;
    }
    .user-image img
    {
        transform:scale(0.7);
    }

}